@use "presets" as *;
@use "mixins" as *;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: $color-light;
  font-size: $font-size;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

header {
  min-height: 900px;
  background-image: url(/assets/img/background-dog-header.png);
  background-size: cover;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.row::after,
.menu::after {
  content: "";
  display: block;
  clear: both;
}

/* grid xs */
.col-xs-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* tablet */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-sm-6 {
    flex: 0 0 49.99998%;
    max-width: 49.99998%;
  }

  .col-sm-7 {
    flex: 0 0 58.33331%;
    max-width: 58.33331%;
  }

  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .hidden-sm {
    display: none;
  }
}

/* laptop */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.header-menu {
  height: 150px;
  padding: 51px 0;
}

.header__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-light;
  height: 50px;
  font-weight: 600;
  font-size: 30px;
  & img {
    padding-right: 16px;
  }
}

.header__menu {
  display: flex;
  justify-content: right;
  &-item {
    list-style: none;
    margin-right: 21px;
    & a {
      position: relative;
      text-decoration: none;
      color: $color-light;
    }
  }
  &-item a::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: $color-light;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.25s;
    transform-origin: right;
  }
  &-item a:hover::before {
    transform: scaleX(1);
    transition: transform 0.25s;
    transform-origin: left;
  }

  &-item:last-child {
    margin-right: 0;
  }
}

.header-content {
  margin-top: 200px;
  &__title {
    color: $color-light;
    font-size: 3.125rem;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 25px;
  }
  &__desc {
    color: $color-light;
    line-height: 23px;
    margin-bottom: 50px;
  }
}

.our-mission {
  margin-top: 200px;

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    &-text {
      margin-top: 40px;
      &-two {
        margin-top: 30px;
      }
    }
  }

  &__image {
    width: 100%;
    max-width: 570px;
    height: 100%;
  }
}

.advantage {
  &__title {
    width: 100%;
    margin-top: 200px;
  }
  &__blocks {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 200px;
    &-item {
      margin-right: 20px;
      & h3 {
        margin-top: 40px;
      }
      & p {
        color: $color-black;
        margin-top: 10px;
      }
    }
    &-item:last-child {
      margin-right: 0;
    }
  }
}

.about {
  &__image {
    width: 100%;
    margin-bottom: 40px;
  }
  &__desc {
    margin-top: 0;
    line-height: 23px;
  }
}

.services {
  &__title {
    margin-top: 200px;
  }

  &__block {
    display: flex;
    margin-top: 40px;
    &-image {
      width: 100%;
    }
  }
}

.service__info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  &-desc {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

.banner {
  margin-top: 200px;
  background-color: rgba(28, 28, 28, 0.1);
  &__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  &__info-actions .btn {
    margin-top: 40px;
    width: 353px;
  }
  &__image {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 508px;
    float: right;
    mix-blend-mode: darken;
  }
}

.specialists {
  &__title {
    margin-top: 200px;
  }
}

.splide {
  margin-top: 20px;
  &__slide {
    &-photo {
      width: 100%;
      max-height: 435px;
    }
    &-title {
      margin-top: 20px;
    }
    &-profession {
      margin-top: 10px;
    }
  }
  &__arrows {
    display: flex;
    justify-content: flex-end;
  }
  &__arrow {
    position: static;
    background-color: rgba(255, 255, 255, 0);
  }
}

.reviews {
  margin-top: 200px;
}

.subrow {
  flex-wrap: nowrap;
}

.review {
  display: flex;
  gap: 60px;
  &__user {
    display: flex;
    flex-direction: column;
    &-photo {
      width: 209px;
      height: 209px;
    }
    &-info {
      width: 150px;
      align-self: flex-end;
      position: relative;
    }
    &-info::before {
      content: "";
      width: 40px;
      height: 1px;
      background-color: $color-black;
      position: absolute;
      top: 31px;
      left: -60px;
    }
    &-name {
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 20px;
    }
    &-animal {
      font-size: 14px;
      color: $color-gray;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 10px;
    }
  }
  &__text {
    width: 100%;
    font-size: 36px;
    line-height: 47px;
    margin-top: 0;
  }
}

#slider2 {
  margin-top: 0;
}

.arrows2 {
  justify-content: center;
  margin-right: 245px;
  margin-top: 20px;
}

.blog {
  margin-bottom: 200px;
  &__header {
    margin-top: 200px;
  }
}

.article {
  margin-top: 40px;
  &__image {
    width: 100%;
  }
  &__title {
    margin-top: 20px;
  }
  &__link {
    position: relative;
    text-decoration: none;
    color: $color-black;
    font-weight: 600;
  }
  &__desc {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  &__link::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color-black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.25s;
    transform-origin: right;
  }
  &__link:hover::before {
    transform: scaleX(1);
    transition: transform 0.25s;
    transform-origin: left;
  }
}

.contacts {
  background-color: $color-black;
  & h3 {
    margin-top: 100px;
    margin-bottom: 50px;
    opacity: 1;
    color: $color-light;
    line-height: 30px;
  }
  &__form {
    margin-bottom: 80px;
    &-item {
      width: 420px;
      height: 40px;
      margin-bottom: 20px;
      &-input {
        width: 100%;
        height: 40px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        border-bottom: 1px solid $color-gray;
      }
      &-input::placeholder {
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-gray;
      }
      &-input:focus::placeholder {
        transition: 0.5s;
        color: $color-light;
      }

      &-input:focus {
        outline: none;
        color: $color-light;
        border-bottom: 1px solid $color-light;
        transition: 0.5s;
      }
    }

    & .checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      margin-top: 40px;
      & label {
        font-size: 0.875rem;
        color: $color-gray;
        & span {
          position: absolute;
          margin-left: 10px;
          margin-top: 1px;
        }
        & a {
          color: white;
          font-size: 0.875rem;
          text-decoration: none;
          position: relative;
        }
        & a::before {
          content: "";
          width: 100%;
          height: 1px;
          background-color: white;
          position: absolute;
          left: 0;
          bottom: -5px;
        }
      }
      & input {
        display: none;
      }
      & label::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid $color-gray;
        cursor: pointer;
      }
      & input[type="checkbox"]:checked + label::before {
        background-image: url("../img/apply-form.svg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
      }
    }
  }
  &__block {
    display: flex;
    &-adress,
    &-social {
      width: 50%;
      &-title {
        margin: 0;
        color: $color-light;
        font-weight: 600;
      }
      & p {
        color: $color-gray;
        margin-top: 6px;
      }
    }
    &-info,
    &-list {
      margin-top: 25px;
    }
  }
}

.footer {
  background-color: $color-black;
  &__block {
    border-top: 1px solid $color-light;
  }
  &__contacts {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 80px;

    &-link {
      margin-left: 20px;
      position: relative;
    }
    &-link:first-child {
      margin-left: 0;
    }
    &-link a {
      color: $color-gray;
      text-decoration: none;
      font-size: 18px;
      font-weight: 400;
    }
    &-link::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-light;
      position: absolute;
      left: 0;
      bottom: -5px;
      transform: scaleX(0);
      transition: transform 0.25s;
      transform-origin: right;
    }
    &-link:hover::before {
      transform: scaleX(1);
      transition: transform 0.25s;
      transform-origin: left;
    }
    &-link a:hover {
      transition: 0.5s;
      color: $color-light;
    }
  }
}
