@use "../presets/" as *;
@use "../mixins/" as *;

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 62px;
  width: 220px;
  height: 60px;
  text-decoration: none;
  font-size: 1rem;
}

.btn--light {
  position: relative;
  background-color: $color-light;
  border: 1px solid $color-black;
  color: $color-black;
}

.btn--dark {
  position: relative;
  background-color: $color-black;
  border: 1px solid $color-light;
  color: $color-light;
}

.btn--light:hover,
.btn--dark:hover {
  z-index: 1;
  transition: 0.5s;
}

.btn--light:hover {
  color: $color-light;
}

.btn--dark:hover {
  color: $color-black;
}

.btn--light::before,
.btn--dark::before {
  content: "";
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.35s;
  transform-origin: right;
}

.btn--light::before {
  background-color: $color-black;
  border: 1px solid $color-light;
}

.btn--dark::before {
  background-color: $color-light;
  border: 1px solid $color-black;
}

.btn--light:hover::before,
.btn--dark:hover::before {
  transform: scaleX(1);
  transition: transform 0.35s;
  transform-origin: left;
  z-index: -1;
}
