@use "../presets/" as *;
@use "../mixins/" as *;

h2 {
  font-weight: 600;
  font-size: 2.5rem;
  color: $color-black;
  margin: 0;
}

h3 {
  color: $color-black;
  opacity: 0.3;
  font-size: 1.563rem;
  margin: 0;
}

p {
  line-height: 23px;
}
